# Ignore Gradle project-specific cache directory
.gradle
.idea

# Ignore Gradle build output directory
build/
node_modules
package-lock.json
target/
tmp/

# Ignore SBT directories
.bsp
/deps/
.bloop
.metals
project/metals.sbt
project/project/
